[flake8]
# H601: (cohesion) class has low.
ignore = H601
# exclude = __init__.py

# flake8-quotes
inline-quotes = single
multiline-quotes = double

# flake8-import-order
application-import-names = combu
import-order-style = google

# flake8-coding
no-accept-encodings = True
